<div class="page-header">
  <h1>Upcoming Events</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= link_to event.name, event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :additional_scripts do %>
    <script type="text/javascript">
			$('#upcoming_events_nav').addClass("active");
    </script>
<% end %>