/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 
 /********************* Colour reference chart****************
*************************** comment ********* colour ******** 

blue							#207499    
orange						#d64f2a
light gray				#F4F4F4
dark gray					#DDDDDD

*/

 @import url(https://fonts.googleapis.com/css?family=Arvo);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans);
 
 .statistic strong{
 		font-size: 30px;
 		margin-left: 20px;
 }

 .statistic small{
 		font-size: 16px;
 }

 .statistic .row {
 		margin-bottom: 10px;
 		margin-top: 10px;
 }

 #donationForm{
 		margin-top: 0px;
 }

 #donationForm .control-group{
 		margin-left: -35px;
 }

 #donationForm .form-actions{
 		margin-left: 0px;
 }

 #donationForm .form-actions .btn{
 		margin-left: -35px;
 }

 #donateHeader{
 		text-align: center;
 		margin-bottom:20px;
 }

.biobox {
	border: 1px solid rgba(158, 190, 166, 0.6);
	background: rgba(158, 190, 166, 0.3);
	padding: 10px;
}

.biobox a{
	color: #333;
}

.biobox .row{
	margin-left:0px;
}

.center-header h1, .center-header h2{
		display: block;
		text-align: center;
}

.table-background{
		background: #EEE;
		border: 1px solid #DDD;
		font-size: 20px;
}

.nonBoldHeader{
		font-weight: normal;
}

.description{
		margin-bottom: 15px;
}

.eventsbox {
		border: 1px solid #DDD;
		background: #F4F4F4;
		padding: 0px 20px 0px 20px;
}






.link-dark{
	color: black;
}

.link-color{
	color: #207499;
}

.accent-color{
		color: #d64f2a;
}

.brand strong{
		letter-spacing: 0.05em;
}

.inset-form h3 {
		font-weight: 400;
		font-size: 16px;
}

.footer {
		border-top: 1px solid #DDDDDD;
		margin: 0px -30px 0px -30px;
}

.footer div {
		font-size: 14px;
		font-weight: 400;
		margin: 10px 30px 0px 30px;
}

.light{
		font-weight: 300;
}

.normal{
		font-weight: 400;
}

.bottom {
    text-align: center;
    padding: 20px 0px;
    background: #F4F4F4;
    border-top: 1px solid #DDDDDD;
}

.navbar .active{
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		box-shadow: inset 0 0 4px #DDDDDD;
		color: #d64f2a;
}