/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import url(https://fonts.googleapis.com/css?family=Ribeye+Marrow);

 .statistic strong{
 		font-size: 30px;
 		margin-left: 20px;
 }

 .statistic small{
 		font-size: 16px;
 }

 .statistic .row {
 		margin-bottom: 10px;
 		margin-top: 10px;
 }

 #donationForm{
 		margin-top: 0px;
 }

 #donationForm .control-group{
 		margin-left: -35px;
 }

 #donationForm .form-actions{
 		margin-left: 0px;
 }

 #donationForm .form-actions .btn{
 		margin-left: -35px;
 }

 #donateHeader{
 		text-align: center;
 		margin-bottom:20px;
 }

.biobox {
	border: 1px solid rgba(0, 136, 204, 0.5);
	background: rgba(0, 136, 204, 0.2);
	padding: 10px;
}

.biobox a{
	color: #333;
}

.biobox .row{
	margin-left:0px;
}

.center-header h1, .center-header h2{
		display: block;
		text-align: center;
}

.table-background{
		background: #EEE;
		border: 1px solid #DDD;
		font-size: 20px;
}

.nonBoldHeader{
		font-weight: normal;
}

.description{
		margin-bottom: 15px;
}

.eventsbox {
		border: 1px solid #DDD;
		background: rgba(255, 255, 255, 0.8);
		padding: 0px 20px 0px 20px;
}