// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.container-fluid{
	padding:0;
}

.biobox{
	border:1px solid rgba(0, 136, 204, 0.5);
	background:rgba(0, 136, 204, 0.2);
	padding:10px;
}

.eventsbox{
	border:1px solid #DDD;
	padding:20px;
}

h1{
	display:inline;
	line-height:75px;
}

.toolbar{
	float:right;
	display:inline;
	line-height:75px;
}

.event{
	padding:10px;
	background:#EEE;
	border:1px solid #DDD;
	margin: 10px 0;
}

.profilepic{
	width:75px;
	padding-right:20px;
	display:inline-block;
}